# LIST

In [1]:
#creating a list
list=[1,2,3,"lucky",-5,0.6]
#adding elements to list
list.append(-0.06)
#modifying elements in list
list[5]=0.02
#removing the elements from list
list.remove(-5)
print(list)

[1, 2, 3, 'lucky', 0.02, -0.06]

# DICTIONARY

In [6]:
#creating the dictionary
my_dict = {"name": "Kin", "age": 23, "city": "London"}
#adding
my_dict["marks"]=90
my_dict["gender"]="female"
#modifying
my_dict["name"]="Lucky"
#removing
del my_dict["gender"]
print(my_dict)

{'name': 'Lucky', 'age': 23, 'city': 'London', 'marks': 90}

# SET

In [11]:
#creating a set
my_set={1,2,3,4.0,"Maahi"}
#adding
my_set.add(-70.12)
my_set.add("venky")
#removing
my_set.remove("venky")
#modifying
my_set.discard(2)
my_set.add(20)
print("set:",my_set)

set: {1, 3, 4.0, 20, -70.12, 'Maahi'}